<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WcfService_json_xml.Service1" behaviorConfiguration="ServiceBehaviour">
        <endpoint address=""  binding="webHttpBinding" contract="WcfService_json_xml.IService1" behaviorConfiguration="web">
        </endpoint>
      </service>
      <service name="WcfService_json_xml.Service2" behaviorConfiguration="messageInspectorBehavior">
        <endpoint address=""  binding="webHttpBinding" contract="WcfService_json_xml.IService2" behaviorConfiguration="webHttp">
        </endpoint>
      </service>
    </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>

        <behavior name="webHttp">
          <webHttp automaticFormatSelectionEnabled="true" defaultOutgoingResponseFormat="Xml"/>
        </behavior>
        
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>


        <behavior name="messageInspectorBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <myBehaviorExtensionElement/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="myBehaviorExtensionElement"
            type="WcfService_json_xml.MyBehaviorExtensionElement, 
            WcfService_json_xml, 
            Version=1.0.0.0, 
            Culture=neutral, 
            PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>

    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
