<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    
    <services>
      <service name="MessageInspector.Service1" behaviorConfiguration="messageInspectorBehavior">
        <endpoint address=""  binding="webHttpBinding" contract="MessageInspector.IService1" behaviorConfiguration="webHttp">
        </endpoint>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>

        <behavior name="messageInspectorBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <myBehaviorExtensionElement/>
        </behavior>
        
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="webHttp">
          <!-- 启用自动格式设置AutomaticFormatSelectionEnabled，参考：http://msdn.microsoft.com/zh-cn/library/ee476510.aspx -->
          <webHttp automaticFormatSelectionEnabled="true" defaultOutgoingResponseFormat="Xml"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="myBehaviorExtensionElement"
            type="MessageInspector.MyBehaviorExtensionElement, 
            MessageInspector, 
            Version=1.0.0.0, 
            Culture=neutral, 
            PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>

    <rewrite>
      <rules>
        <rule name="Redirect request">
          <match url="Service1.svc/teacher/(.*).json" />
          <action type="Rewrite" url="Service1.svc/teacher/{R:1}?format=json" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>
